<div class="qr-code-employee">
  <a mat-flat-button [disableRipple]="true" id="back-button" (click)="goToReceptionistCabinet()">
    <mat-icon aria-hidden="false" aria-label="Back to overview">chevron_left</mat-icon>Zurück</a
  >
  <div class="qr-code-card">
    <div class="qr-code-container">
      <div id="qr-code-title">
        MITARBEITER CHECK-
        <p class="bold-title">IN & OUT</p>
      </div>
      <div class="qr-code">
        <qrcode [qrdata]="qrData" [width]="qrSize" [margin]="qrMargin"></qrcode>
      </div>
    </div>
    <div class="button-container">
      <button type="button" mat-flat-button color="primary" id="second-screen-button">Vollbild</button>
      <button type="button" mat-flat-button color="primary" id="print-button">Drucken</button>
    </div>
  </div>
</div>
